<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Otp</title>
  </head>
  <body>
    <h2>Hello {{fullname}},</h2>
    <h2>Please enter the code below to complete your login:</h2>
    <h1>{{otp_code}}</h1>
    <p>This code expires in 5 minutes.</p>
    <p>If you didn't initiate this login attempt, please ignore this message and
      contact our support team immediately via our in-app chat or via email at
      abc@gamil.com</p>

    <p>Best regards &#128513;,<br>
      The Bills Team  </p>    
  </body>
</html>