<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{type}} Alert</h1>
    <p>Your {{type}} of ${{amount}} was {{status}}.</p>
    <p>If you did not initiate this transaction, please contact our support team immediately via our in-app chat or via email at support@kenzowallet.com</p>
    <p>Best regards,<br />
      Kenzo Wallet Team</p>
</body>
</html>